input[type="checkbox"] {
	width: 24px;
	min-width: 24px;
	height: 24px;
	display: inline-block;
    background-color: initial;
    appearance: auto;
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 500;
}
.checkmark {
    display: block;
    background-image: url('../../assets/icon/checkbox-icon.svg');
    background-size: 24px;
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    position: relative;
}
.checkbox{
    display: inline-block;
    position: relative;
}
.checkmark__checked{
    background-image: url('../../assets/icon/checkbox-filled.svg');
}
.checkmark__half{
    background-image: url("../../assets/icon/checkbox-table-icon.svg");
}
/* input:not(:disabled):not(:checked):focus~.checkmark {
    background-image: url("https://cegovapp.misacdn.net/cegov/img/ic_checkbox_hover.d04300f4.svg");
} */