input[type="checkbox"] {
	width: 24px;
	min-width: 24px;
	height: 24px;
	display: inline-block;
    background-color: initial;
    appearance: auto;
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 1;
}
.checkbox-container{
    display: flex;
    width: fit-content;
}
.checkmark {
    display: block;
    background-image: url('../../assets/icon/checkbox-icon.svg');
    background-size: 24px;
    width: 24px;
    height: 24px;
    position: relative;
    background-position: center;
}
.checkbox{
    display: inline-block;
    position: relative;
}
.checkmark__checked{
    background-image: url('../../assets/icon/checkbox-filled.svg');
}
.checkmark__half{
    background-image: url("../../assets/icon/checkbox-table-icon.svg");
}
/* input:not(:disabled):not(:checked):not(:hover):focus~.checkmark {
    border: green;
} */
.checkmark-focus{
    border: 3px solid var(--color-green);
}
.checkmark-disabled{
	background-color: #ebebeb!important;
	cursor: not-allowed!important;
    position: absolute;
    left: 3px;
    width: 18px;
    opacity: 0.4;
    height: 18px;
    border-radius: 4px;
}
.checkbox__title{
    margin-left: 4px;
}
.checkmark-attr{
    left: 2px;
    opacity: 0.4;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}
.checkmark-hover{
    background-color: var(--color-gray);
}