.icon-header{
	margin: 0 5px 0 5px;
	border-radius: 50%;
	padding: 5px;
}
.icon-header:hover{
	background-color: #e8f5f7;
}
.icon__launcher {
	background: url('../../assets/icon/sprites.06b14dc5.svg') no-repeat -196px -4px;
	width: 16px;
	height: 16px;
}
.icon__filter, .icon__filter--status {
	position: relative;
	background: url('../../assets/icon/sprites.06b14dc5.svg') no-repeat -100px -52px;
	width: 16px;
	height: 16px;
}
.icon__filter--status::after {
	bottom: 12px;
	right: -4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: var(--color-green);
	content: "";
	position: absolute;
}
.icon__notification {
	background: url('../../assets/icon/sprites.06b14dc5.svg') no-repeat -27px -50px;
	width: 18px;
	height: 20px;
}
.icon__help {
	background: url('../../assets/icon/sprites.06b14dc5.svg') no-repeat -50px -50px;
	width: 20px;
	height: 20px;
}
.icon__book {
	background: url('https://cegovapp.misacdn.net/cegov/img/ic_document_help.5a303db8.svg') no-repeat;
	width: 25px;
	height: 25px;
}
.icon__setting {
	background: url('../../assets/icon/sprites.06b14dc5.svg') no-repeat -266px -170px;
	width: 20px;
	height: 20px;
}
.icon__tick {
	background: url('../../assets/icon/sprites.06b14dc5.svg') no-repeat -196px -30px;
	width: 16px;
	height: 12px;
}
.icon__leftarrow {
	background: url('../../assets/icon/sprites.06b14dc5.svg') no-repeat -248px -4px;
	rotate: 180deg;
	width: 8px;
	height: 16px;
	cursor: pointer;
}
.icon__rightarrow {
	background: url('../../assets/icon/sprites.06b14dc5.svg') no-repeat -248px -4px;
	width: 8px;
	height: 16px;
	cursor: pointer;
}
.icon__instruction {
	background: url('../../assets/icon/sprites.06b14dc5.svg') no-repeat -50px -50px;
	width: 20px;
	height: 20px;
}
.icon__pencil {
	background: url('../../assets/icon/sprites.06b14dc5.svg') no-repeat -4px -76px;
	width: 16px;
	height: 16px;
}
.icon__threedots {
	background: url('../../assets/icon/sprites.06b14dc5.svg') no-repeat -171px -58px;
	width: 18px;
	height: 4px;
}
.disabled{
	opacity: 0.4;
	cursor: not-allowed!important;
}
.icon-sort::before{
		content: "";
		background: transparent url('../../assets/icon/sprites.06b14dc5.svg') no-repeat;
		height: 24px;
		width: 24px;
		display: block;
}
.icon-sort.asc::before{
    background-position: -160px -117px;
    width: 16px;
    top: 2px;
}
.icon-sort.desc::before{
    background-position: -143px -117px;
    width: 16px;
    top: 2px;
}
.icon__x{
	background: transparent url('../../assets/icon/sprites.06b14dc5.svg') no-repeat -242px -26px;
    height: 20px;
    width: 20px;
}