svg{
    min-width: 15px;
}
.notification{
    z-index: 99999;
    position: fixed;
    top: 10%;
    left: 40%;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: align-items;
    width: 0;
}
.notification-button{
    margin: 0 4px;
    flex-shrink:0;
    display:flex;
    align-items: center;
}
.button-x{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.notification-view{
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    border: 1px solid #fafafa;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    width: 450px;
    min-height: 56px;
}
.notification-icon{
    flex-shrink: 0;
    width: 20px;
    height: 20px;
}
.notification-title{
    margin-left: 12px;
    width: 0;
    flex: 1;
    padding-top: 2px;
}
.notification-container{
    min-height: 56px;
    height: 100%;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}