/* The container */
.radio__container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 20px;
}

/* Hide the browser's default radio button */
.radio__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio__checkmark, .radio__checkmark-disabled {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio__container:hover input ~ .radio__checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio__container input:checked ~ .radio__checkmark-disabled {
  background-color: white;
  border: 1px solid #e4e4e4;
}

/* When the radio button is checked, add a blue background */
.radio__container input:checked ~ .radio__checkmark {
  background-color: white;
  border: 1px solid var(--color-green);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radio__checkmark-disabled:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.radio__container input:checked ~ .radio__checkmark:after,.radio__checkmark-disabled:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio__container .radio__checkmark:after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--color-green);
}
/* Style the indicator (dot/circle) */
.radio__container .radio__checkmark-disabled:after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #e4e4e4;
}
