::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar {
    border-radius: 10px;
    display: block;
    overflow: auto;
    height: 8px;
    width: 8px;
    background: red;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b5b5b5;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
}
::-webkit-scrollbar-thumb:hover {
    background-color: #d4d4d4;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(239,239,244,1);
    background-color: #ececec;
}

::-webkit-scrollbar-track-piece {
    background-color: #fff;
    width: 8px;
    border-radius: 2px;
}