<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/components/button.css">
    <style>
        .error-page {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <div class="error-page">
        <img src="https://cegovapp.misacdn.net/cegov/img/bg_Error404.8c4e87ee.svg" alt="404">
        <h1> OPP! Không tìm thấy trang. </h1>
        <p> Tính năng đang được hoàn thiện </p>
        <button class="button button__primary" onclick="location.href='../layout.html'">
            <div class="text"> Quay lại trang chủ </div>
        </button>
    </div>
</body>

</html>