<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/main.css">
  <script type="text/javascript" src="../js/script.js"></script>

<body>
  <div>
    <h1>Danh hiệu thi đua </h1>
    <div style="margin-bottom: 10px;justify-content: space-between;" class="flex">
      <div class="flex" style="gap:15px">
        <div>
          <div class="form__items input-container">
            <input type="text" />
            <span class="input__icon">
              <image src="../assets/icon/search-icon.svg" style="width: 20px;"></image>
            </span>
            <p class="error"></p>
          </div>
        </div>
        <div>
          <button class="button button__default">
            <img src="../assets/icon/filter-icon.svg" alt="Filter icon" class="button__icon_pr6">
            <span style="font-weight: 400;">Bộ lọc</span>
          </button>
        </div>
      </div>
      <div>
        <div>
          <button class="button button__blue">
            <img src="../assets/icon/plus-icon.svg" alt="Plus icon" class="button__icon_pr6" style="width: 17px;">
            <span>Thêm danh hiệu</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Table -->
  <div class="overflow-auto" style="background-color: white; height: 80vh;">
    <table>
      <tr>
        <th style="width: 50px;">
          <div class="checkbox">
            <input type="checkbox" id="check-all">
            <span class="checkmark"></span>
          </div>
        </th>
        <th style="min-width: 200px">Tên danh hiệu thi đua</th>
        <th style="min-width: 200px">Mã danh hiệu</th>
        <th style="min-width: 200px">Đối tượng khen thưởng</th>
        <th style="min-width: 200px">Cấp khen thưởng</th>
        <th style="min-width: 200px">Loại phong trào</th>
        <th style="min-width: 200px">Trạng thái</th>
      </tr>
      <tr>
        <td>
          <div class="checkbox">
            <input type="checkbox" class="checkbox__input">
            <span class="checkmark"></span>
          </div>
        </td>
        <td>
          JillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJill
        </td>
        <td>Smith</td>
        <td>Smith</td>
        <td>Smith</td>
        <td>50</td>
        <td>
          <div class="flex items-center" style="gap: 4px">
            <div class="icon-round-active"></div>
            <div>Active</div>
          </div>
        </td>
        <td>
          <div class="button__table">
            <img src="../assets/icon/x-icon.svg" width="25" />
            <img src="../assets/icon/x-icon.svg" width="25" />
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="checkbox">
            <input type="checkbox" class="checkbox__input">
            <span class="checkmark"></span>
          </div>
        </td>
        <td>
          JillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJill
        </td>
        <td>Smith</td>
        <td>Smith</td>
        <td>Smith</td>
        <td>50</td>
        <td>
          <div class="flex items-center" style="gap: 4px">
            <div class="icon-round-active"></div>
            <div>Active</div>
          </div>
        </td>
        <td>
          <div class="button__table">
            <a href="#">
              <img src="../assets/icon/x-icon.svg" width="25" />
            </a>
            <a href="#">
              <img src="../assets/icon/x-icon.svg" width="25" />
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="checkbox">
            <input type="checkbox" class="checkbox__input">
            <span class="checkmark"></span>
          </div>
        </td>
        <td>
          JillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJillJill
        </td>
        <td>Smith</td>
        <td>Smith</td>
        <td>Smith</td>
        <td>50</td>
        <td>
          <div class="flex items-center" style="gap: 4px">
            <div class="icon-round-active"></div>
            <div>Active</div>
          </div>
        </td>
        <td>
          <div class="button__table">
            <a href="#">
              <img src="../assets/icon/x-icon.svg" width="25" />
            </a>
            <a href="#">
              <img src="../assets/icon/x-icon.svg" width="25" />
            </a>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <div>Tổng số: bản ghi</div>
    <div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</body>

</html>